<!DOCTYPE html>
<html lang="fr">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title> ACCUEIL </title>
      <!-- Bootstrap -->
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      <!-- CSS et JS -->
      <link rel="stylesheet" href="../CSS/bootstrap.css">
      <link rel="stylesheet" href="../CSS/accueil.css">
      <link rel="stylesheet" href="../CSS/style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
      <script src="../js/server.js"></script>
      <script src="../js/accueil.js"></script>
    </head>
    <body>
      <%- include('partials/navbar.html') %>
      <!--affichage des articles-->
      <section id="accueil">
        <table id="tableau-vetements" class="table table-image">
          <thead class="thead-dark">
            <tr class="text-center">
              <%= contenuHTML %>
            </tr>
          </thead>
        </table>
      </section>

      <!-- a retirer peut etre -->
      <section id="jsp">
        <h2>Juste pour tester la flèche</h2>
        <p>clique sur la flèche tout en bas ça fait revenir en haut</p>
      </section>
  
    
      
    <%- include('partials/footer.html') %>
    </body>
</html>