*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 25px;
    background-color: #FFFAF4;
    box-shadow: inset 0px -1px 0px #EBD8B2;
}
.user-articles{
    display: block;
    cursor: pointer;
    border: none;
    transition: all .4s ease-out;
    color: #E9A178;
}
.user-articles:hover{
    color: #A84448;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFE5CA;
    min-width: 160px;
    z-index: 1;
    border-radius: 5px;
  }
.dropdown:hover .dropdown-content,.dropdown-panier:hover .dropdown-content {display: block;}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }  
.nav-icon {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 20px;
}

.nav-icon span{
    text-decoration: none;
    font-size: 25px;
    margin-left: 10px;
    font-weight: 400;
    color: #8D7B68;
}

.hmg{
    display: none;
}

.navlinks-container a{
    margin: 0 10px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #A4907C;
    display: inline-block;
    position: relative;
}

.navlinks-container a::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: left;
    background: #8D7B68;
    transition: transform 0.3s ease-out ;
}
.navlinks-container a:hover{
    color: #8D7B68;
}
.navlinks-container a:hover::after{
    transform: scaleX(1);
}
.nav-indentification{
    margin-left: auto;
}
.nav-indentification button{
    font-size: 16px;
    min-width: 90px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px 5px;
    margin: 0 5px;
    transition: all .4s ease-out;
    background-color: #E9A178;
    color: #FFFAF4;

}
.nav-indentification button:hover{
    background-color: #A84448;
}
.user-profile{
    display: none;
}

@media (max-width: 900px) {
    nav{
        padding: 15px 20px;
        position: relative;
    }
    .navlinks{
        order: 1;
    }
    .nav-icon{
        order: 2;
        margin: 0 auto;
    }
    .nav-indentification{
        order: 3;
        margin-left: 0;
    }
    .nav-icon span{font-size: 22px;} 

    .dropdown-panier:hover .dropdown-content {display: none;}
    .navlinks-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        padding: 15px 50px 15px 20px;
        top: 100%;
        left: 0;
        height: 100vh;
        background-color: #F6F1E9;
        transform: translate(-100%);
        transition: transform 0.3s ease-out;
    }
    .navlinks-container a{
        font-size: 18px;
        margin: 10px 0;
    }

    .regist-btn{
        display: none;

    }

    .user-profile{
        display: block;
        cursor: pointer;
        border: none;
        transition: all .4s ease-out;
        color: #E9A178;
    }
    .user-profile:hover{
        color: #A84448;
    }
    .hmg{
        width: 20px;
        height: 20px;
        cursor: pointer;
        border: none;
        display: flex;
        align-items: center;
        background: #FFFAF4;
        position: relative;
    }
    .hmg span{
        width: 100%;
        height: 2px;
        background-color: #333;
        position: absolute;
        pointer-events: none;
        transition: opacity 0.3s 0.15s ease-out;
    }
    .hmg span:nth-child(1),.hmg span:nth-child(3){
        transition: transform 0.3 ease-out;
    }
    .hmg span:nth-child(1){
        transform: translateY(7px);
    }
    .hmg span:nth-child(3){
        transform: translateY(-7px);
    }

    .hmg.open span:nth-child(1){
        transform: translate(0) rotate(135deg);
    }
    .hmg.open span:nth-child(2){
        opacity: 0;
        transition: opacitity 0s ease-out;
    }
    .hmg.open span:nth-child(3){
        transform: translate(0) rotate(-135deg);
    }
    .open{
        transform: translate(0%);
    }
}